@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --purple: #502d69;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home page */

.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navigationBar {
  background-color: var(--purple) !important;
}

.white {
  color: whitesmoke;
}

.white-bg {
  background-color: whitesmoke;
}

.signOut-button {
  background-color: var(--purple);
  border: none;
}

.purple {
  color: var(--purple);
}

.ckeckOut-button {
  background-color: var(--purple);
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 10px;
}

.ckeckOut-link {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
}

.extraSection-button {
  background-color: var(--purple);
  width: 25%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  color: whitesmoke;
  font-weight: 500;
}

.footer {
  background-color: var(--purple);
  color: whitesmoke;
}

/* login page */
.login-button {
  background-color: var(--purple);
  border: none;
  border-radius: 50px;
  padding: 10px;
  color: whitesmoke;
  font-weight: 500;
  width: 50%;
}

.socialLogIn-Button {
  border: none;
  background-color: var(--purple);
  border-radius: 50px;
  padding: 8px;
  color: whitesmoke;
  font-weight: 500;
  width: 50%;
}

.proceedCheckOut-button {
  border: none;
  background-color: var(--purple);
  border-radius: 50px;
  padding: 8px;
  color: whitesmoke;
  font-weight: 500;
  width: 50%;
}